.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.stopwatch-title-container {
  width: 300px;
}
.title {
  font-family: 'roboto';
  font-weight: 500;
  color: #333333;
  text-align: center;
  font-size: 35px;
}
.stopwatch-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.timer-img-container {
  display: flex;
  align-items: center;
}
.timer-img {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
.timer-label {
  font-family: 'roboto';
  color: #333333;
  font-weight: 500;
}
.stopwatch-timer {
  font-family: 'roboto';
  color: #333333;
  margin-top: 0px;
  font-size: 30px;
}
.stopwatch-btn {
  border: none;
  border-radius: 5px;
  font-family: 'roboto';
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.start-btn {
  background-color: #1db05f;
  margin-right: 10px;
}
.stop-btn {
  background-color: #ef0d36;
  margin-right: 10px;
}
.reset-btn {
  background-color: #eaa800;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    justify-content: flex-start;
  }
  .stopwatch-title-container {
    margin-left: 100px;
    margin-top: 100px;
  }
  .title {
    font-size: 64px;
  }
  .stopwatch-container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .timer-img {
    width: 35px;
    height: 35px;
  }
  .timer-label{
    font-size: 25px;
  }
  .stopwatch-timer{
    font-size: 60px;
  }
  .stopwatch-btn{
    font-size: 20px;
  }
}
